/* DoctorList.css */
@media screen and (max-width: 768px) {
    .doctor-card {
      flex-direction: column !important;
      align-items: flex-start !important;
    }
  
    .doctor-info {
      margin-bottom: 16px;
    }
  
    .patient-section {
      width: 100%;
      flex-direction: column;
      align-items: flex-start !important;
    }
  
    .midarea {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 16px;
    }
  
    .add-button {
      margin-left: 0 !important;
    }
  
    .lastsection {
      width: 100%;
      align-items: flex-start !important;
    }
  
    .add-patient-button {
      width: 100%;
    }
  }